.git
.gitignore
.gitattributes

node_modules
dist
.output
.vinxi
.nitro
.tanstack
coverage

.env
.env.*
!.env.example
!.env.production.example

docs
*.md
!README.md

logs
*.log

.DS_Store
Thumbs.db
.idea
.vscode

Dockerfile
docker-compose*.yml
scripts
